* {
    box-sizing: border-box;
}

.board {
    border-spacing: 2px;
    background-color: gray;
}

.board__cell {
    width: 25px;
    height: 25px;
    border: black solid 1px;
    user-select: none;
    text-align: center;
    vertical-align: middle;
}

.board__cell svg {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
}

.board__cell--close {
    background-color: steelblue;
}

.board__cell--open {
    background-color: white;
}

.board__cell--active {
    background-color: gray;
}