* {
    box-sizing: border-box;
}

.board {
    border-spacing: 0;
    border-collapse: separate;
    border-left: #A9A9A9 solid 4px;
    border-top: #A9A9A9 solid 4px;
    border-right: white solid 4px;
    border-bottom: white solid 4px;
}

.board__cell {
    width: 25px;
    height: 25px;
    padding: 0;
    user-select: none;
}

.board__cell--1 {
    color: #0000FF;
}

.board__cell--2 {
    color: #008000;
}

.board__cell--3 {
    color: #FF0000;
}

.board__cell--4 {
    color: #000080;
}

.board__cell--5 {
    color: #800000;
}

.board__cell--6 {
    color: #008080;
}

.board__cell--7 {
    color: #000000;
}

.board__cell--8 {
    color: #808080;
}

.board__cell--close {
    border-left: white solid 3px;
    border-top: white solid 3px;
    border-right: gray solid 3px;
    border-bottom: gray solid 3px;
    background-color: #D3D3D3;
}

.board__cell--close svg {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
}

.board__cell--open {
    border-left: gray solid 1px;
    border-top: gray solid 1px;
    background-color: #D3D3D3;
    line-height: 24px;  /* open 상태에서 위쪽 border가 1px이므로 최대 24px */
    font-family: Arial, "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
}

.board__cell--open svg {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
}

.board__cell--active {
    border-left: gray solid 1px;
    border-top: gray solid 1px;
    background-color: #D3D3D3;
}